body {font-family: cursive;
    background-color: powderblue;"
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 80px;
}